<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ $.Site.Title }}</title>
</head>
<body>
{{/* Container for entire page */}}
<div class="container">

  {{/* Navbar */}}
  <nav>
    {{/* mobile first then big boys */}}
  </nav>

  {{/* Sidebar */}}
  <sidebar>
    {{/* recent posts, categories, copyright, about, contact, picture */}}
  </sidebar>

  {{/* Main Content */}}
  <div class="main">
    {{/* Latest post on main page, 5 posts on blog page */}}
  </div>

  {{/* Footer */}}
  <footer>
    {{/* Contact Pagination and stuff? */}}
  </footer>
</div>
</body>
</html>
