<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"> -->
  <link rel="stylesheet" href="{{ "css/default.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="http://via.placeholder.com/16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="http://via.placeholder.com/32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="http://via.placeholder.com/96x96.png" sizes="96x96">
  <!-- Apple Touch Icon (at least 200x200px) -->
  <link rel="apple-touch-icon" href="http://via.placeholder.com/200x200.png">
  <!-- To run web application in full-screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
  <!-- Has no effect unless you have the previous meta tag -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_news.html" . }}
  <title>{{ $.Site.Title }}</title>
</head>
<body>
