{{/* Navbar */}}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <section class="hero is-small">
    <div class="hero-head">
        <div class="container">

          <!-- nabar-brand, navbar-burger -->
          <div class="navbar-brand">
            <a href="/" class="navbar-item is-uppercase has-text-weight-semibold">{{ .Title }}</a>
            <div class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <!-- navbar-start, navbar-end... -->
          <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="/blog" class="navbar-item">Blog</a>
                <a href="/about" class="navbar-item">About</a>
                <a href="/contact" class="navbar-item">Contact</a>
                <a href="/resume" class="navbar-item">Resume</a>
            </div>
          </div>

        </div>
    </div>
  </section>
</nav>
