<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure>
        <img src="{{ "img/faded.jpg" | relURL }}" alt="" style="border-radius: 50%" />
      </figure>
      <hr class="is-divider" data-content="&amp">
      <p class="title">Faded</p>
      <p class="subtitle is-6 has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
  </div>
  <div class="hero-foot footer">
    <div class="container has-text-centered">
      <a href=""><span class="icon"><i class="fa fa-twitter"></i></span></a>
      <a href=""><span class="icon"><i class="fa fa-github"></i></span></a>
      <a href=""><span class="icon"><i class="fa fa-rss"></i></span></a>
      <a href=""><span class="icon"><i class="fa fa-linkedin"></i></span></a>
      <a href=""><span class="icon"><i class="fa fa-codepen"></i></span></a>
      <a href=""><span class="icon"><i class="fa fa-instagram"></i></span></a>
    </div>
  </div>
</section>
