<div class="container has-text-centered">
  <img src="http://via.placeholder.com/150x150?text=Profile+Img" alt="" style="border-radius: 50%"/>
  <p class="title">Faded</p>
  <p class="subtitle is-6 has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  <a href="" class="button"><span class="icon"><i class="fa fa-twitter"></i></span></a>
  <a href="" class="button"><span class="icon"><i class="fa fa-github"></i></span></a>
  <a href="" class="button"><span class="icon"><i class="fa fa-rss"></i></span></a>
  <a href="" class="button"><span class="icon"><i class="fa fa-linkedin"></i></span></a>
  <a href="" class="button"><span class="icon"><i class="fa fa-codepen"></i></span></a>
  <a href="" class="button"><span class="icon"><i class="fa fa-instagram"></i></span></a>
</div>
