// 1. Import the initial variables
@import "bulma"

// 2. Customize
.navbar-burger
  height: auto
  span
    height: 2px
  &:hover
    span
      background-color: $red
  // Modifers
  &.is-active
    span
      background-color: $red
