// 1. Import Variables
@import "./sass/utilities/initial-variables"
@import "./sass/utilities/functions"

// 2. Customize Variables
$content-pre-padding: .75em .5em !default
$section-padding: 3rem .75rem !default
$navbar-height: 2.25rem !default
$message-body-radius: 0 !default

// 3. Import the rest of Bulma
@import "bulma"

// 4. Customize
.navbar-burger
  height: auto
  span
    height: 2px
  &:hover
    span
      background-color: $red
  // Modifers
  &.is-active
    span
      background-color: $red

.nav-bar
  box-shadow: 0 2px 5px $grey-lighter

pre
  +overflow-touch
  padding: 1.25rem .5rem

a
  span
    color: $dark
    &:hover
      color: $danger
