{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<section class="hero is-fullheight">
  <div class="hero-head">
    <div class="container">
      <img src="{{ "img/hero-faded.jpg" | relURL }}" alt="" class="image">
    </div>
  </div>

  <div class="hero-body">
    <div class="container">

      <form action="https://formspree.io/bernard.carney@gmail.com" method="POST">
        <input type="text" name="_gotcha" style="display:none" />  
        <input type="hidden" name="_next" value="//berncarney.com/" />

        <div class="field">
          <label class="label has-text-grey">Name</label>
          <div class="control has-icons-left">
            <input class="input" type="text" name="Name" placeholder="eg, John Doe">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <label class="label has-text-grey">E-Mail</label>
          <div class="control has-icons-left">
            <input class="input" type="email" name="_replyto" placeholder="eg, john.doe@gmail.com">
              <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
              </span>
          </div>
        </div>

        <div class="field">
          <label class="label has-text-grey">Message</label>
          <div class="control">
            <textarea class="textarea" name="message" placeholder="eg, Let's get coffee!"></textarea>
          </div>
        </div>

        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button class="button is-primary" type="submit">Send</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</section>

{{ partial "footer.html" . }}
